<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.novel.dao.mapper.AuthorCodeMapper">
  <resultMap id="BaseResultMap" type="com.mumu.novel.dao.entity.AuthorCode">
    <!--@mbg.generated-->
    <!--@Table author_code-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="validity_time" jdbcType="TIMESTAMP" property="validityTime" />
    <result column="is_used" jdbcType="TINYINT" property="isUsed" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, invite_code, validity_time, is_used, create_time, update_time
  </sql>
</mapper>