<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.novel.dao.mapper.BookCategoryMapper">
  <resultMap id="BaseResultMap" type="com.mumu.novel.dao.entity.BookCategory">
    <!--@mbg.generated-->
    <!--@Table book_category-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="work_direction" jdbcType="TINYINT" property="workDirection" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort" jdbcType="TINYINT" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, work_direction, `name`, sort, create_time, update_time
  </sql>
</mapper>