<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.novel.dao.mapper.BookCommentCopy1Mapper">
  <resultMap id="BaseResultMap" type="com.mumu.novel.dao.entity.BookCommentCopy1">
    <!--@mbg.generated-->
    <!--@Table book_comment_copy1-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="book_id" jdbcType="BIGINT" property="bookId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="comment_content" jdbcType="VARCHAR" property="commentContent" />
    <result column="reply_count" jdbcType="INTEGER" property="replyCount" />
    <result column="audit_status" jdbcType="TINYINT" property="auditStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, book_id, user_id, comment_content, reply_count, audit_status, create_time, update_time
  </sql>
</mapper>