<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.novel.dao.mapper.HomeFriendLinkMapper">
  <resultMap id="BaseResultMap" type="com.mumu.novel.dao.entity.HomeFriendLink">
    <!--@mbg.generated-->
    <!--@Table home_friend_link-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="link_name" jdbcType="VARCHAR" property="linkName" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="sort" jdbcType="TINYINT" property="sort" />
    <result column="is_open" jdbcType="TINYINT" property="isOpen" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, link_name, link_url, sort, is_open, create_time, update_time
  </sql>
</mapper>