<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.novel.dao.mapper.PayAlipayMapper">
  <resultMap id="BaseResultMap" type="com.mumu.novel.dao.entity.PayAlipay">
    <!--@mbg.generated-->
    <!--@Table pay_alipay-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="buyer_id" jdbcType="VARCHAR" property="buyerId" />
    <result column="trade_status" jdbcType="VARCHAR" property="tradeStatus" />
    <result column="total_amount" jdbcType="INTEGER" property="totalAmount" />
    <result column="receipt_amount" jdbcType="INTEGER" property="receiptAmount" />
    <result column="invoice_amount" jdbcType="INTEGER" property="invoiceAmount" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_payment" jdbcType="TIMESTAMP" property="gmtPayment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, out_trade_no, trade_no, buyer_id, trade_status, total_amount, receipt_amount, 
    invoice_amount, gmt_create, gmt_payment, create_time, update_time
  </sql>
</mapper>