<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.novel.dao.mapper.PayWechatMapper">
  <resultMap id="BaseResultMap" type="com.mumu.novel.dao.entity.PayWechat">
    <!--@mbg.generated-->
    <!--@Table pay_wechat-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="trade_type" jdbcType="VARCHAR" property="tradeType" />
    <result column="trade_state" jdbcType="VARCHAR" property="tradeState" />
    <result column="trade_state_desc" jdbcType="VARCHAR" property="tradeStateDesc" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="payer_total" jdbcType="INTEGER" property="payerTotal" />
    <result column="success_time" jdbcType="TIMESTAMP" property="successTime" />
    <result column="payer_openid" jdbcType="VARCHAR" property="payerOpenid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, out_trade_no, transaction_id, trade_type, trade_state, trade_state_desc, amount, 
    payer_total, success_time, payer_openid, create_time, update_time
  </sql>
</mapper>